body {
  background: #fafafa;
}

.App {
  margin: 0;
  padding: 1rem;
}

.App .MuiSlider-markLabel {
  transform: translateX(0);
}

.App .MuiSlider-markLabel {
  transform: translateX(0);
}

.App .MuiSlider-markLabel ~ .MuiSlider-markLabel {
  transform: translateX(-100%);
}

